
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 3.9rem;
    top: 0;
    position: fixed;    
    display: flex;
    justify-content: center;
    background-color: var(--theme-color);
}

.nav-logo,
.nav-options, 
.nav-button, 
.nav-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 6.25rem;
}

.nav-options li {
    list-style: none;
}

.nav-button {
    margin-right: 6.25rem;
}

.nav-options a, .nav-button a {
    padding: 0.938rem;
    text-decoration: none;
    color: var(--text-color);
}

.nav-toggle{
    display: none;
}
